@media (max-width: 768px) {
  header{
    height: 150px !important;
    margin-bottom: 10% !important;

  }
    header img {
        width: 250px !important;
        height: 80px !important;
      }
      header .boton {
        margin-top: 0px;
        border-radius: 50px;
        width: 100px;
        margin-left: 15px;
        padding: 2px;
        height: fit-content;
        background: #cccccc41;
        color: white;
        font-size: 25px;
        border: none;
      }
}